#find{
    padding-top: .88rem;
    .find-head{
        // background-color: blue;
        width: 7.5rem;
        height: .88rem;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        background-color:#fff;
        .head-item{
            height: 100%;
            line-height: .88rem;
        width: 1.36rem;
        float: left;
        font-size: .34rem;
        letter-spacing: 0em;
        font-weight: 700;
        }
        div:nth-of-type(2){
          margin-left: .56rem;  
        }
    }
.shoppingCar{
    position: fixed;
    right: .4rem;
    top:.26rem;
    width: .36rem;
    height: .36rem;
    font-size: .36rem;
}
.router-link-active{
    color: #dd4f14;
}

}