.search_header {
    width: 100%;
    height: 1rem;
    padding: 0 0.2rem;
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    background: #fff;
    position:fixed;
    top:0;
    z-index:999;
    // background: red;
    // .search_content{
    //     // margin-left: .2rem;
    // }
.btn-back{
    position: absolute;
        right: 0.4rem;
        font-size: 0.3rem;
}
#historyAndHot{
    margin-top: .92rem;
    }

  }
 
  
//   .search_header > div:nth-child(3) {
//     position: absolute;
//     right: 0.2rem;
//     font-size: 0.3rem;
//   }
  .search_header .search_content {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search_header .search_content i {
    position: absolute;
    left: 0.1rem;
    font-size: 0.4rem;
  }
  .search_header .search_content input {
    border: 0;
    background: #eee;
    width: 5.8rem;
    height: 0.55rem;
    border-radius: .12rem;
    padding-left: 0.5rem;
    font-size: 0.3rem;
    outline: none;
  }



  .searchListKeyWord{
    padding-top:.92rem ;

      width:100%;
      height: 100%;
      position: absolute;
      left:0;
      top: 0rem;
      background: #fff;
    //   background: red;
      z-index:15;
  }
  .searchListKeyWord div{
      width:100%;
      height: .98rem;
      padding-left: .2rem;
      font-size:.3rem;
      color:#333;
      border-bottom: .01rem solid #eee;
      line-height: .98rem;
      background:#fff;}
      .searchListKeyWord div:last-of-type{
        border-bottom: none;

      }

     